[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "libraries/glew"]
	path = libraries/glew
	url = https://github.com/nigels-com/glew
[submodule "libraries/glew-cmake"]
	path = libraries/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
